<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IServiceShoppingCart">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_IServiceUser">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_IServiceWantToSend">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_IServiceWantToTake">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_IServiceFlight">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport />
                </binding>
                <binding name="CustomBinding_IServiceMap">
                    <textMessageEncoding messageVersion="Soap11WSAddressing10" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost/WhixerShipments.Services/ServiceShoppingCart.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IServiceShoppingCart"
                contract="ServiceShoppingCart.IServiceShoppingCart" name="CustomBinding_IServiceShoppingCart" />
            <endpoint address="https://localhost/WhixerShipments.Services/ServiceUser.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IServiceUser"
                contract="ServiceUser.IServiceUser" name="CustomBinding_IServiceUser" />
            <endpoint address="https://localhost/WhixerShipments.Services/ServiceWantToSend.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IServiceWantToSend"
                contract="ServiceWantToSend.IServiceWantToSend" name="CustomBinding_IServiceWantToSend" />
            <endpoint address="https://localhost/WhixerShipments.Services/ServiceWantToTake.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IServiceWantToTake"
                contract="ServiceWantToTake.IServiceWantToTake" name="CustomBinding_IServiceWantToTake" />
            <endpoint address="https://localhost/WhixerShipments.Services/ServiceFlight.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IServiceFlight"
                contract="ServiceFlight.IServiceFlight" name="CustomBinding_IServiceFlight" />
            <endpoint address="https://localhost/WhixerShipments.Services/ServiceMap.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IServiceMap"
                contract="ServiceMap.IServiceMap" name="CustomBinding_IServiceMap" />
        </client>
    </system.serviceModel>
</configuration>